.project-list{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;

    -webkit-box-shadow: 14px 16px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 14px 16px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 14px 16px 8px 0px rgba(34, 60, 80, 0.2);
}

.project-list:hover{
    border-left: 5px solid blueviolet;
    cursor: pointer;
    transition-duration: 0.15s;
}

.project-list-opened:hover{
    border-left: 5px solid red;
}


.title-and-collapse-option{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.tech-used-in-project{
    margin-top: 20px;
    margin: 5px;
}

.tech-used-in-project p:hover{
    background-color: blueviolet;
}

.tech-used-in-project p{
    background-color: royalblue;
    color: white;
    border-radius: 90px;
    padding: 8px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.live-demo-button{
    background-color: green;
    border-radius: 20px;
    width: fit-content;
    margin: 5px;
    padding: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.live-demo-button a{
    color: white;
    text-decoration: none;
}

.live-demo-button:hover{
    background-color: blueviolet;
    cursor: pointer;
    transition-duration: 0.15s;
}

.description{
    margin: 5px;
}